body {
  background: #fff;
  color: #1d1d1f;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.app-navbar {
  background: #122153;
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: white;
}
.app-navbar .navbar-brand:hover {
  color: #b6aab7 !important;
}
.app-navbar .dropdown-toggle {
  border-color: transparent !important;
  color: white;
}

.categorysidebar ul, .categorysidebar li {
  list-style: none;
  padding-left: 5px;
}
.categorysidebar a {
  text-decoration: none;
}
.categorysidebar a:hover {
  color: #a04747;
}
.categorysidebar a.active {
  color: red;
}
.categorysidebar > ul > li > a {
  font-weight: bold;
}
.categorysidebar h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid blue;
  padding-bottom: 6px;
}

.contact-firstcol {
  background-color: #374f9d;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 80px;
}

.formcontact label {
  font-weight: 700;
  margin-top: 20px;
}
.formcontact .btn-primary {
  background-color: #374f9d !important;
  border-color: #374f9d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-footer {
  background: #080A10;
  color: white !important;
  text-align: center;
}

.detailpost h1 {
  font-weight: 300;
}
.detailpost .sapo {
  font-weight: 500;
  font-style: italic;
}
.detailpost img {
  max-width: 100%;
}

.pagination {
  justify-content: center;
}
.pagination a {
  text-decoration: none;
  padding: 8px 16px;
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 4px;
}
.pagination a:hover {
  background-color: #98E0FF;
}
.pagination a.active {
  background-color: #98E0FF;
  color: white;
}