@page "/aboutrazor.html"
@{
    Layout="_Layout";
}
<h1>Giới thiệu về Razor</h1>
<p>
    Razor là một template engine trong .Net, nó là template engine mặc định của ASP.NET MVC, có chức năng render(dựng)
    HTML từ các view(.cshtml)
    View(.cshtml) cho phép viết HTML đồng thời nhúng mã C#
</p>